<h1>
    <center>Our Partners in Ministry</center>
</h1>
<div>
    <about-nav></about-nav>
    <div class="col-xs-9">
        <div class="row">
            <div class="col-xs-4"><img class="img-responsive" src="/components/images/dcbc.png" alt=""></div>
            <div class="col-xs-8">
                <h3>Dry Creek Baptist Camp</h3>
                <p>this is a blurb about this partner</p>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-4"><img class="img-responsive" src="/components/images/imb.png" alt=""></div>
            <div class="col-xs-8">
                <h3>International Mission Board</h3>
                <p>this is a blurb about this partner</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4"><img class="img-responsive" src="/components/images/lbc.png" alt=""></div>
            <div class="col-xs-8">
                <h3>Louisiana Baptist Convention</h3>
                <p>this is a blurb about this partner</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4"><img class="img-responsive" src="/components/images/namb.png" alt=""></div>
            <div class="col-xs-8">
                <h3>North American Mission Board</h3>
                <p>this is a blurb about this partner</p>
            </div>
        </div>
    </div>
</div>
