<center>
    <h1>Women's Ministry</h1>
</center>
<div class="row">
    <connect-nav></connect-nav>
    <div class="col-xs-9">
        <p>
            Ladies Bible Study sponsored by Glenmora Baptist Church <br>
            Meets Monday nights 6:00 pm at the home of Jean Parker in McNary, Lousiana <br>
             Current study is Beth Moore: The Patriarchs and Cost is $15 for the workbook and a buffet style meal. Childcare is provided at the church for those needing it. Open to any lady wanting to spend time in the word with an awesome group of women!
        </p>
    </div>
</div>
