<div>
    <h1>
        <center>Glenmora Baptist Church</center>
    </h1>
</div>
<img class="img-responsive" src="/components/images/glenmora.jpg" alt="">
<div>
    <h2>
        <center>GBC is a local body of believers in Jesus that seek to love God, each other, our community, and world. We invite you to come and join us!</center>
    </h2>

    <ul class="weekly-meetings">
        <li><b>Sunday School</b> at 9:45am</li>
        <li><b>Sunday Worship Services</b> at 11 am & 6 pm</li>
        <li><b>Youth Gathering</b>s 6 pm Sundays and Wednesdays</li>
        <li><b>Team Kids</b> 6 pm Wednesdays</li>
        <li><b>Prayer Meeting</b> 6 pm Wednesdays</li>
    </ul>
</div>
