<!DOCTYPE html>
<html lang="en" ng-app="glenmoraApp">
<head>
    <meta charset="UTF-8">
    <title>Glenmora Baptist Church</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
    <link rel="stylesheet" href="/font-awesome-4.7.0/css/font-awesome.css">
</head>
<body class="container-fluid">
    <top-nav></top-nav>
    <ng-view></ng-view>
    <media></media>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-route.js"></script>
<script src="app.js"></script>
<script src="about/about.js"></script>
<script src="home/home.js"></script>
<script src="resources/resources.js"></script>
<script src="media/media.js"></script>
<script src="connect/connect.js"></script>
<script src="connect/mission/mission.js"></script>
<script src="connect/kids/kids.js"></script>
<script src="connect/youth/youth.js"></script>
<script src="connect/women/women.js"></script>
<script src="connect/connect-nav/connect-nav.js"></script>
<script src="nav/nav.js"></script>
<script src="about/leadership/leadership.js"></script>
<script src="about/beliefs/beliefs.js"></script>
<script src="about/vision/vision.js"></script>
<script src="about/values/values.js"></script>
<script src="about/partners/partners.js"></script>
<script src="about/about-nav/about-nav.js"></script>
</html>

<!--
different pages for different ministries --womens ministry -- missions -- youth --prison ministry -- kids 


mission statement, doctrinal statement 




times and locations of services, google maps api

((photo page))-->
