<!DOCTYPE html>
<html lang="en" ng-app="glenmoraApp">
<head>
    <meta charset="UTF-8">
    <title>Glenmora Baptist Church</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
</head>
<body class="container">
    <top-nav></top-nav>
    <ng-view></ng-view>
    <media></media>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-route.js"></script>
<script src="app.js"></script>
<script src="about/about.js"></script>
<script src="home/home.js"></script>
<script src="resources/resources.js"></script>
<script src="media/media.js"></script>
<script src="connect/connect.js"></script>
<script src="nav/nav.js"></script>
</html>