body {
    font-family: 'Josefin Sans', sans-serif;
    color: #b342f4;
}

/*navbar top*/
/*dropdown*/
.topdrop {
    background-color: white;
    color: #b342f4;
}
.dropdown {
    position: relative;
    display: inline-block;
}

.topdrop a{
    color: #b342f4;
    font-size: 20px;
}

.connect-content {
    display: none;
    position: absolute;
    z-index: 1;
}

.connect-content a {
    display: block;
}

.dropdown:hover .connect-content {
    display: block;
}

.resources-content {
    display: none;
    position: absolute;
    z-index: 1;
}

.resources-content a {
    display: block;
}

.dropdown:hover .resources-content {
    display: block;
}

/*navbar bottom */
