<h1>
    <center>Our Leadership Team</center>
</h1>
<div>
    <about-nav></about-nav>
    <div class="col-xs-9">
        <div class="row">
            <h3>Leadership Team</h3>
            <div class="row">
                <img class="col-xs-4 img-responsive" src="/components/images/neil-and-leanne.jpg" alt="">
                <div class="col-xs-6 col-xs-offset-1">
                    <h4>Leadership Team Member 1</h4>
                    <p>description about duty/life</p>
                </div>
            </div>
            <div class="row">
                <img class="col-xs-4 img-responsive" src="/components/images/neil-and-leanne.jpg" alt="">
                <div class="col-xs-6 col-xs-offset-1">
                    <h4>Leadership Team Member 1</h4>
                    <p>description about duty/life</p>
                </div>
            </div>
            <div class="row">
                <img class="col-xs-4 img-responsive" src="/components/images/neil-and-leanne.jpg" alt="">
                <div class="col-xs-6 col-xs-offset-1">
                    <h4>Leadership Team Member 1</h4>
                    <p>description about duty/life</p>
                </div>
            </div>
        </div>
    </div>
</div>
