<nav class="row topdrop">
    <a class="col-xs-4 img-responsive" href=""><img src="" alt=""></a>
    <a class="col-xs-2 btn" href="#/home">Home</a>
    <div class="dropdown">
        <a class="col-xs-2 btn about-drop" href="#/about">About</a>
        <div class="connect-content">
            <a href="#/beliefs">What We Believe</a>
            <a href="#/leadership">Leadership</a>
            <a href="#/partners">Partners</a>
            <a href="#/values">Values</a>
            <a href="#/vision">Vision</a>
        </div>
    </div>
    <div class="dropdown">
        <a class="col-xs-2 btn connect-drop" href="#/connect">Connect</a>
        <div class="connect-content">
            <a href="#/missions">Missions</a>
            <a href="#/kids">Kids</a>
            <a href="#/youth">Youth</a>
            <a href="#/women">Women</a>
        </div>
    </div>
    <div class="dropdown">
        <a class="col-xs-2 btn resources-drop" href="#/resources">Resources</a>
        <div class="connect-content">
            <a href="">Sermon Archive</a>
            <a href=""> sample 2</a>
        </div>
    </div>
</nav>
