<nav class="row topdrop">
    <a class="col-xs-4 img-responsive" href=""><img src="" alt=""></a>
    <a class="col-xs-2 btn" href="#/home">Home</a>
    <a class="col-xs-2 btn" href="#/about">About</a>
    <div class="dropdown">
        <a class="col-xs-2 btn connect-drop" href="#/connect">Connect</a>
        <div class="connect-content"><a href="">sample 1</a>
            <a href=""> sample 2</a>
        </div>
    </div>
        <div class="dropdown">
        <a class="col-xs-2 btn resources-drop" href="#/resources">Resources</a>
        <div class="resources-content"><a href="">sample 1</a>
            <a href=""> sample 2</a>
        </div>
    </div>
</nav>
