<!--title-->
<h1>About</h1>
<div>
    <!--statement about glenmora as a community-->
    <h3>At Glenmora Baptist Church...."all are welcome"</h3>
    <!--slight expansion on values/community-->
    <p>paragraph</p>
</div>

<div class="row">
    <h3>Leadership Team</h3>
    <div>
        <img class="col-xs-6 img-responsive" src="" alt="">
        <div class="col-xs-6">
            <h4>Leadership Team Member 1</h4>
            <p>description about duty/life</p>
        </div>
    </div>
    <div>
        <img class="col-xs-6 img-responsive" src="" alt="">
        <div class="col-xs-6">
            <h4>Leadership Team Member 2</h4>
            <p>description about duty/life</p>
        </div>
    </div>
    <div>
        <img class="col-xs-6 img-responsive" src="" alt="">
        <div class="col-xs-6">
            <h4>Leadership Team Member 3</h4>
            <p>description about duty/life</p>
        </div>
    </div>
</div>
